<div class="card bg-dark text-white w-75 mx-auto">
    <div class="card-header">Registro</div>
    <div class="card-body">
                <form (ngSubmit)="save()" #clienteForm="ngForm">
                                    

                      <div class="form-group">
                            <label for="type">Tipo</label>
                            <select [compareWith]="compararTipo" (change)="changeType($event)"  type="text" class="form-control" id="type"
                                  [(ngModel)]="product.type" name="type">
                                  <option [ngValue]="undefined">
                                        --- Seleccione Tipo ----
                                  </option>
                                  <option *ngFor="let tipo of types" [ngValue]="tipo">
                                        {{tipo.description}}
                                  </option>
                            </select>
                      </div>
                      <div class="form-group">
                        <label for="price">Stock</label>
                        <input type="text" [(ngModel)]="mensaje" class="form-control" id="mensaje" name="mensaje">
                       </div>

                      <div class="form-group">
                            <button type="submit" class="btn btn-success"
                                  [disabled]="!clienteForm.form.valid">Registrar</button>
                      </div>

                </form>

    </div>
</div>